<!DOCTYPE html>
<html>
<head>
  <title>CalenChiki</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>CALEN-CHIKI</h1>
<h2>Calender app for couples</h2>
<nav>
<%= link_to "HOME", welcome_index_path %>
<%= link_to "CALENDER", '/calender' %>
<%= link_to "HAPPENINGS", '/happenings' %>
<%= link_to "DIARY", '/diaries' %>
<%= link_to "USERS", '/users' %>
</nav>

<% if current_user %> 
  <ul> 
    <li><%= current_user.name %></li> 
    <li><%= link_to "Log out", logout_path, method: "delete" %></li> 
  </ul> 
<% else %> 
  <ul> 
    <li><%= link_to "Login", 'login' %></a></li> 
    <li><%= link_to "Signup", 'signup' %></a></li> 
  </ul> 
<% end %>

<%= yield %>

</body>
</html>
